/* Футер */

.footer {
    padding: 60px 0;

    background-color: var(--special-bg-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo-adress-box {
    min-width: 231px;
}

.footer__logo {
    margin-bottom: 20px;
}