.social-link-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link-list .social-link:hover,
.social-link-list .social-link:focus {
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
}